<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The white store | Productos</title>
</head>
<body>
    <div>
        <ul>
            {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
            </li>
            {{/each}}
        </ul>   
    </div>
</body>
</html>